<div id="path-explore">

  <input type="search" placeholder="{{ translation.menu.searchTrip | default(value="Search trip") }}" class="form-control" onkeydown="if(event.key==='Enter'){ history.pushState(null,'','?path=search:'+encodeURIComponent(this.value));page_load('app', 0);}" />
  <br />

  <div class="card-container">

    {% for row in explore %}
      {% set cover_photo_id = all.cover_photos_list | get(key=row.OuterId, default="NO") %}

      <a href="?path=trip:{{ row.OuterId }}" class="card" data-trip-domain="{{ row.TripDomain }}">
        
        {# Genre marking #}
        {% if row.CoverPhoto and row.CoverPhoto is containing("!genre") %}
          <div class="genre-icon-overlay">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bandaid-fill" viewBox="0 0 16 16">
              <path d="m2.68 7.676 6.49-6.504a4 4 0 0 1 5.66 5.653l-1.477 1.529-5.006 5.006-1.523 1.472a4 4 0 0 1-5.653-5.66l.001-.002 1.505-1.492.001-.002Zm5.71-2.858a.5.5 0 1 0-.708.707.5.5 0 0 0 .707-.707ZM6.974 6.939a.5.5 0 1 0-.707-.707.5.5 0 0 0 .707.707M5.56 8.354a.5.5 0 1 0-.707-.708.5.5 0 0 0 .707.708m2.828 2.828a.5.5 0 1 0-.707-.707.5.5 0 0 0 .707.707m1.414-2.121a.5.5 0 1 0-.707.707.5.5 0 0 0 .707-.707m1.414-.707a.5.5 0 1 0-.706-.708.5.5 0 0 0 .707.708Zm-4.242.707a.5.5 0 1 0-.707.707.5.5 0 0 0 .707-.707m1.414-.707a.5.5 0 1 0-.707-.708.5.5 0 0 0 .707.708m1.414-2.122a.5.5 0 1 0-.707.707.5.5 0 0 0 .707-.707M8.646 3.354l4 4 .708-.708-4-4zm-1.292 9.292-4-4-.708.708 4 4z"/>
            </svg>
          </div>
        {% endif %}

        {# Cover Image with conditional background logic #}
        <div 
          class="cover {% if row.CoverPhoto %}has-cover{% endif %}" 
          data-trip-domain="{{ row.TripDomain }}" 
          data-trip-cover-photo-path="{{ row.CoverPhoto }}"
          {% if row.CoverPhoto %} style="background-image: url('{{ cover_photo_id }}'), url('static/images/travel.svg');" {% endif %}
        >
        </div>

        <div class="card-body">
          <div class="card-title" data-trip-domain="{{ row.TripDomain }}">{{ row.OuterId }} {{ row.OverallDestination }}</div>
          <div class="card-text">{{ row.TripDescription }}</div>
        </div>

        <div class="card-spacer"></div>

        <div class="card-footer" data-trip-domain="{{ row.TripDomain }}">
          <small class="text-body-secondary">{{ row.TripYear }} &#x2022; {{ row.NumberOfDays }} {{ translation.explore.days | default(value="days") }}</small>
        </div>
      </a>
    {% endfor %}

  </div>

  <br />
  <h2>{{ translation.explore.seeAllTripsPer | default(value="See all trips per") }}</h2>

  <div class="component-breadcrumb">
    <div class="breadcrumb">
      <a href="?path=overview:year" class="breadcrumb-link">{{ translation.overview.year | default(value="Year") }}</a>
      <a href="?path=overview:country" class="breadcrumb-link">{{ translation.overview.country | default(value="Country") }}</a>
      <a href="?path=overview:plain" class="breadcrumb-link">{{ translation.overview.plain | default(value="Plain") }}</a>
    </div>
  </div>
  
</div>
