<div id="path-overview-country">

  <div style="display:flex;margin:2pt;flex-direction:column;gap:2pt;">

    {% set_global last_continent = "" %}

    {% for row in overviewCountry %}

        {# --- Start a new continent if it changes --- #}
        {% if row.Continent != last_continent %}
            {% if last_continent != "" %}
                </div> {# close previous continent-content #}
            </details>
            {% endif %}

            <details open class="continent">
                <summary>{{ row.Continent }}</summary>
                <div class="continent-content">
            {% set_global last_continent = row.Continent %}
        {% endif %}

        {# --- Country block --- #}
        <div class="country-row">
            <div class="country-block">
                {{ row.Country }}
            </div>
            <div class="country-trips">

                {% set countryOuterId = row.OuterIDs | split(pat=", ") %}
                {% set countryInnerId = row.TripDomains | split(pat=", ") %}
                {% set countryOverallDestination = row.OverallDestination | split(pat=" | ") %}
                {% set countryParticipantGroup = row.ParticipantGroup | split(pat=" | ") %}

                {% for trip in countryOuterId %}
                    {% set i = loop.index0 %}
                    <a href="?path=trip:{{ countryOuterId[i] }}" class="iib-decade iib-item overview-item"
                        data-iib-participantGroup="{{ countryParticipantGroup[i] }}"
                        data-trip-domain="{{ countryInnerId[i] }}">
                        {{ countryOuterId[i] }} {{ countryOverallDestination[i] }}
                    </a>
                {% endfor %}

            </div>
        </div>

    {% endfor %}

    {# --- Close the last continent --- #}
    {% if last_continent != "" %}
            </div> {# close last continent-content #}
    </details>
    {% endif %}
  </div>

</div>