<div id="path-overview-plain">
  <table>
    <thead>
      <tr>
        <th>{{ translation.trip.id | default(value="ID") }}</th>
        <th>{{ translation.trip.overallDestination | default(value="Overall Destination") }}</th>
        <th>{{ translation.trip.departureDate | default(value="Departure") }}</th>
        <th>{{ translation.trip.returnDate | default(value="Return") }}</th>
        <th>{{ translation.trip.numberOfDays | default(value="NoD") }}</th>
        <th>{{ translation.trip.participantGroup | default(value="Group") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for trip in overview_plain %}
      <tr>
        <td><a href="?path=trip:{{ trip.OuterId }}" class="trip-button" data-trip-domain="{{ trip.TripDomain }}">
          {{ trip.OuterId }}
        </a></td>
        <td>{{ trip.OverallDestination }}</td>
        <td>{{ trip.DepartureDate }}</div></td>
        <td>{{ trip.ReturnDate }}</div></td>
        <td>{{ trip.NumberOfDays | default(value="") }}</td>
        <td data-participant-group="participant-group">{{ trip.ParticipantGroup }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>