<div id="path-overview-country">
  {% set_global last_continent = "" %}
  {% set_global last_country = "" %}

  {% for row in overview_country %}

    {# --- 1. Handle Continent Transitions --- #}
    {% if row.Continent != last_continent %}
      {% if last_continent != "" %}
          </div>
        </div>
        </div>
      </details>
      {% endif %}

      <details open>
        <summary>{{ row.Continent }}</summary>
        <div class="details-content">
      {% set_global last_continent = row.Continent %}
      {% set_global last_country = "" %}
    {% endif %}


    {# --- 2. Handle Country Transitions --- #}
    {% if row.Country != last_country %}
      {% if last_country != "" %}
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="row-left text-left">{{ row.Country }}</div>
        <div class="row-right">
      {% set_global last_country = row.Country %}
    {% endif %}


    {# --- 3. Render Individual Trip Button --- #}
    <a href="?path=trip:{{ row.OuterID }}" 
       class="trip-button" 
       data-trip-domain="{{ row.TripDomain }}">
      {{ row.OuterID }} {{ row.OverallDestination }}
    </a>

  {% endfor %}


  {# --- 4. Final Cleanup (Close all open tags) --- #}
  {% if last_continent != "" %}
        </div>
      </div>
      </div>
    </details>
  {% endif %}
</div>
