<div id="path-overview-year">
    {% set last_decade = 0 %}
    {% set last_year = 0 %}
    {% set year_open = false %}

    {% for trip in overview_year %}
        {# --- HANDLE DECADE TRANSITION --- #}
        {% if trip.TripDecade != last_decade %}
            {% if last_decade != 0 %}
                {% if year_open %}
                    </div></div>
                    {% set_global year_open = false %}
                {% endif %}
                </div></details> {# close decade details-content and details #}
            {% endif %}

            <details open>
                <summary>{{ trip.TripDecade }}{{ translation.overview.century | default(value="'s") }}</summary>
                <div class="details-content">
            
            {% set_global last_decade = trip.TripDecade %}
            {% set_global last_year = 0 %}
        {% endif %}

        {# --- HANDLE YEAR TRANSITION --- #}
        {% if trip.TripYear != last_year %}
            {% if year_open %}
                </div></div> {# close previous row-right and row #}
            {% endif %}

            <div class="row">
                <div class="row-left">{{ trip.TripYear }}</div>
                <div class="row-right">
            
            {% set_global last_year = trip.TripYear %}
            {% set_global year_open = true %}
        {% endif %}

        {# --- TRIP ENTRY --- #}
        <a href="?path=trip:{{ trip.OuterId }}" 
           class="trip-button" 
           data-trip-domain="{{ trip.TripDomain }}">
            {{ trip.OuterId }} {{ trip.OverallDestination }}
        </a>
    {% endfor %}

    {# --- FINAL CLEANUP --- #}
    {% if year_open %}
        </div></div>
    {% endif %}
    {% if last_decade != 0 %}
        </div></details>
    {% endif %}
</div>