<style>
#menu, #iib-foot { display:none; }
body { background-color:#fff; }

    @font-face {
        font-family: 'Cairo';
        src: url('bundle/fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Righteous';
        src: url('bundle/fonts/Righteous-Regular.ttf') format('truetype');
    }

    body {font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}

    .immer-in-font-uc {font-family: 'Cairo', sans-serif;text-transform: uppercase;}
    .bewegung-font-uc {font-family: 'Righteous', sans-serif;text-transform: uppercase;}

    /* Standard page margin 1 inch (2.54 cm) */

    @page {
      size: A4;

      @bottom-center {
        content: string(title-full);
      }

    }

    @page :left  {

      @bottom-left {
        content: counter(page);
      }

    }

    @page :right {

      @bottom-right {
        content: counter(page);
      }

    }

    @page title {
      margin:0;
      @left-top { content: none; }
      @top-center { content: none; }
      @bottom-center { content: none; }
      @bottom-right { content: none; }
    }

    .title-page {
      page: title;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    section.title-page::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vh;
      height: 12cm;
      background: #1d655e;
      z-index: -1;
      margin:-1in;
    }

    @page title {
      margin: 0;
    }

    .link::after {
      content: target-counter(attr(href url), page);
      color:#000;
      background-color:#fff;
      border-radius:20pt;
      width:20pt;
      text-align:center;
      display:inline-block;
    }

    h1 {
      font-size: 3em;
      string-set: title attr(data-title) title-full attr(data-title-full) iib-tripDomain attr(data-iib-tripDomain);
      font-family: 'Cairo', sans-serif;
      line-height: 1.2;
    }

    section.tripSection::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vh;
      height: 12cm;
      z-index: -1;
      margin:-1in;
    }

    section {
      break-before: page;
    }

    section.tripSection {
      page: section-page;
    }

    .tripSection h1 {color:#fff;}

    .tripHeader {
      height: 9.45cm;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }


    @page section-page:left {

      margin-left: 2.04cm;
      margin-right: 3.04cm;

      @left-top {
        content: string(title);
        width: 28mm;
        height: 10mm;
        line-height:10mm;
        transform: rotate(-90deg);
        transform-origin: top left;
        position: relative;
        top: 28mm;
        color:#fff;
      }
    }

    .pagedjs_right_page section.tripSection::before {
      margin-left:-3.04cm!important;
    }

    @page section-page:right {

      margin-left: 3.04cm;
      margin-right: 2.04cm;

      @right-top {
        content: string(title);
        width: 28mm;
        height: 10mm;
        right: 7.6mm;
        line-height:10mm;
        transform: rotate(90deg);
        transform-origin: top right;
        position: relative;
        top: 28mm;
        color:#fff;
      }
    }

    @page final-page {
    margin:0;
      @left-top { content: none; }
      @top-center { content: none; }
      @bottom-center { content: none; }
      @bottom-right { content: none; }
      @bottom-left { content: none; }
    }

    .tripSummary {
        padding:10pt;
        border-radius:20pt;
        margin-top:20pt;
        margin-bottom:10pt;
      }

    .final-page {
      page: final-page;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100vh;
      font-size: 1em;
      break-before: left;
      padding-bottom: 2cm;
    }

    {% for tripDomain in common.common_trip_domains %}

		:root {
			--theme-color-{{ tripDomain.DomainAbbreviation }}: {{ tripDomain.Color }};
		}

		.pagedjs_margin-left-top[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}']{
			background: {{ tripDomain.Color }}!important;
		}

		.eventDay:not(:first-child)[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {
			border-top:1pt solid {{ tripDomain.Color }}22;
		}

		section.tripSection[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}']::before {
			background-color: {{ tripDomain.Color }};
			color:#fff;
		}

		.themeColorLight[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {
			background-color: {{ tripDomain.Color }}22;

		}

		.themeBgColor[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {
			background-color: {{ tripDomain.Color }};
			padding:3pt 10pt 3pt 10pt;
			margin:2pt;
			color:#fff;
			display:inline-block;
			border-radius:10pt;
		}

		.link[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {
			color: {{ tripDomain.Color }};
			text-decoration: none;
		}

		.themeTextColor[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}']{
			color: {{ tripDomain.Color }};
		}

		.accommodationColor[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'], .overviewColor[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {fill:{{ tripDomain.Color }};}
		.polylineMap[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {stroke:{{ tripDomain.Color }};}
		.acc-icon[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {
			mask: url(img/house.svg) no-repeat center / contain;
			-webkit-mask: url(img/house.svg) no-repeat center / contain;
			width: 0.9em;
			height: 0.9em;
			display:inline-block;
			transform: translateY(2px);
		}

		.acc-icon[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] { background-color: {{ tripDomain.Color }}; }

		div[style*='first-iib-tripDomain: "{{ tripDomain.DomainAbbreviation }};'] .pagedjs_margin-left-top, div[style*='first-iib-tripDomain: "{{ tripDomain.DomainAbbreviation }};'] .pagedjs_margin-right-top {
		background-color: {{ tripDomain.Color }} !important;

		}

		{% endfor %}

		{# if settings.Extension.ImmichCoverAlbumId %}
		{% for row in overview[0] %}
			{% if row.CoverPhoto %}

				.tripSection[data-inner-id='{{ row.InnerId }}']::before {
				background: linear-gradient(to bottom, transparent 50%, var(--theme-color-{{ row.DomainAbbreviation }})), url('{{ row.CoverPhoto }}');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				}

			{% endif %}
		{% endfor %}
		{% endif #}


</style>


    <!-- Cover page -->
    <section class="title-page title-page-background">
      <div style="text-align:center;margin-top:-100pt;">
        <img src="static/images/frog.svg" style="height:200pt;filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.4));" />
        <div class="image-mask"></div>
      </div>
      <div style="height:100pt;margin-top:100pt;image-mask"><h1 style="line-height: 0;">{{ translation.report.registerOfTrips | default(value="Register of Trips") }}</h1></div>
      <div style="height:100pt;font-family: 'Cairo', sans-serif;font-size: 2em;">{{ title_string }}</div>
    </section>

    <!-- Blank page -->
    <section class="blank-page"></section>

    <!-- Table of Contents -->
    <section>
      <h1>{{ translation.menu.overview | default(value='Overview') }}</h1>
      {% set_global currentYear = "" %}
      {% set_global currentTrip = "" %}
      {% for row in all_overview %}
        {% if row.InnerId != currentTrip %}

          <div style="display:flex;align-items: center;"><div style="width:1.5cm;font-size:1.2em;">
          {% if row.TripYear != currentYear %}
            <b>{{ row.TripYear }}</b>
            {% set_global currentYear = row.TripYear %}
          {% endif %}
          </div><div><a class="link" href="#{{ row.InnerId }}" data-iib-tripDomain="{{row.TripDomain}}"><div style="width:3cm;display:inline-block;text-align:center;"><div class="themeBgColor" data-iib-tripDomain="{{row.TripDomain}}">{{ row.OuterId }}</div></div>&nbsp;<b>{{ row.OverallDestination }}</b>&nbsp;</a></div></div>

        {% set_global currentTrip = row.InnerId %}
        {% endif %}
      {% endfor %}
    </section>


    {% set_global currentTrip = "" %}
    {% set_global firstItem = true %}

    {% for row in all_events %}
      {% if row.InnerId != currentTrip %}
        {% if not firstItem %}
          </div>
          </section>
        {% endif %}
            <section class="tripSection" data-iib-tripDomain="{{row.TripDomain}}" data-inner-id="{{ row.InnerId }}">

            <div class="tripHeader themeColorDark" data-iib-tripDomain="{{row.TripDomain}}">
              <h1 style="margin:0;" data-title="{{ row.OuterId }}" data-title-full="{{ row.OuterId }} {{ row.OverallDestination }}" data-iib-tripDomain="{{row.TripDomain}}" id="{{ row.InnerId }}">{{ row.OuterId }} {{ row.OverallDestination }}</h1>
              <div style="padding-bottom:20pt;margin-top:10pt;font-size:1.1em;color:#fff;">{{ row.TripDescription }}</div>
            </div>

            <div class="tripSummary themeColorLight" data-iib-tripDomain="{{row.TripDomain}}">
              <div style="display:grid;grid-template-columns: 1fr 1fr 1fr;;gap:2pt;text-align:center;">

                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.departureDate | default(value="Departure Date") }}</div>
                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.returnDate | default(value="Return Date") }}</div>
                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.numberOfDays | default(value="Number of Days") }}</div>

                <div>{{ row.DepartureDate }}</div>
                <div>{{ row.ReturnDate }}</div>
                <div>{{ row.NumberOfDays }}
                  {# set_global start_date = row.DepartureDate | date(format="%s") %}
                  {% set_global end_date = row.ReturnDate | date(format="%s") %}
                  {% set_global difference_in_seconds = end_date | minus: start_date %}
                  {% set_global difference_in_days = difference_in_seconds | divided_by: 86400 %}
                  {{difference_in_days}}#}
                </div>

                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.participantGroup | default(value="Participant Group") }}</div>
                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.outerId | default(value="ID") }}</div>
                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.numberOfCountries | default(value="Number of Countries") }}</div>

                <div>{{ row.ParticipantGroup }}</div>
                <div>{{ row.OuterId }}</div>
                <div>{#
                    <!-- count countries WITHOUT prefix ** (but WITH * and +) and only count unique instances -->
                    {% set_global countryCount = row.AllBorderCrossings | split: ", " | where_exp:  "item", "item[0] != '*' and item[1] != '*'" | where_exp:  "item", "item != settings.Base.HomeCountry" | join: ", " | remove: "*" | remove: "+" | split: ", " | uniq %}
                    {{ countryCount | size }}#}
                </div>

              </div>
{#
              <div style="text-align:center;">
                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.uniqueCountries | default(value="Unique Countries") }}</div>
                <div>{{ countryCount  | join: ", " }}</div>

                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.overallRoute | default(value="Overall Route") }}</div>
                <div>
                {% set_global locations = row.MapPins | split: " }" %}

                  {% for location in locations %}
                    {% if location contains "@" %}
                      {% continue %}
                    {% endif %}

                    {% set_global parts = location | remove: "{" | split: " | " %}

                    {% if parts %}
                      {% set_global mapPinName = parts[0] %}
                      {{mapPinName}}
                      {% unless forloop.last %}&nbsp;> {% endunless %}
                    {% endif %}
                  {% endfor %}
                  </div>

                <div style="margin-top:3pt;font-weight:bold;">{{ translation.trip.countryTripMovements | default(value="Country Trip Movements") }}</div>
                <div>{{ row.AllBorderCrossings | replace: ",", "&nbsp;>" }}</div>
              </div>
            </div>
#}
            <div class="table">

        {% set_global currentTrip = row.InnerId %}
        {% set_global firstItem = false %}
      {% endif %}


      <div class="eventDay" data-iib-tripDomain="{{row.TripDomain}}">
        {% set_global weekday = row.Date | date(format="%A") | lower %}

        {#<div style="padding:5pt;"><div style="display:inline-block;margin-bottom:3pt;"><i style="text-transform: capitalize;">{{ translation.trip[weekday] | default(value=weekday) }}</i>&nbsp;<b>{{ row.Date }}</b><br />{{ row.Events }}<br /><div style="page-break-before: avoid;break-inside: avoid;margin-top:3pt;"><a class="themeTextColor" style="text-decoration:none;" target="_blank" href="https://www.google.com/maps/?q={{ row.AccommodationCoordinates }}" data-iib-tripDomain="{{row.TripDomain}}"><div class="acc-icon" data-iib-tripDomain="{{row.TripDomain}}"></div> <span class="acc-text">{{ row.Accommodation }} – {{ row.AccommodationCountry }} – {{ row.AccommodationCoordinates }} {{ row.AccommodationCoordinateAccuracy | default(value="") }}</span></a></div></div>#}

        <div class="day-icon" data-iib-tripDomain='{{ row.TripDomain }}'>{{ loop.index - 1 }}</div> {{ translation.trip[weekday] | default(value=weekday) }} {{ row.Date }}</div>
           &nbsp; <a style="text-decoration:none;" target="_blank" href="{{ settings.Other.ExternalMapProvider }}{{ row.AccommodationCoordinates }}" data-iib-tripDomain="{{ row.TripDomain }}">
              <div class="acc-icon" data-iib-tripDomain='{{ row.TripDomain }}'></div>
              <span class="acc-text">{{ row.Accommodation }} – {{ row.AccommodationCountryFlag }} {{ row.AccommodationCountry }} – {{ row.AccommodationCoordinates }} {{ row.AccommodationCoordinateAccuracy | default(value="") }}</span>
          </a>

      </div>



    {% endfor %}
    </div>
    </section>

    <!-- Last page -->
    <section class="final-page" style="break-before: left;">
      <div>
        <img src="static/images/frog.svg" style="height:50pt;" />
      </div>
      <div>
        <span class="immer-in-font-uc">Immer in</span>&nbsp;<span class="bewegung-font-uc">Bewegung</span>
      </div>
      <div>
        {{ backside_string }}
      </div>
    </section>

