<div id="path-statistics-summary">

  <template id="stat-trip-overview-chart-data"
      data-json='{{ statistics_per_domain_year | json_encode }}'
      data-json-color='{{ common_trip_domains | json_encode }}'>
  </template>

  <div id="statistics-summary-flex">
    <div id="statistics-summary-flex-widget">
      <div class="widget-class">
        <h2>{{ statistics_visits[0].TripCount }}</h2>
        <p>{{ translation.statistics.uniqueCountries
            | default(value="Count of unique countries") }}</p>
      </div>
      <div class="widget-class">
        <h2>{{ statistics_trip_count[0].Count }}</h2>
        <p>{{ translation.statistics.totalTrips
            | default(value="Number of trips in total") }}</p>
      </div>
    </div>
    <div class="stat-overv">
      <canvas id="stat-trip-overview"></canvas><br />
      <div>{{ translation.statistics.tripDomainYear | default(value="Trips per domain and year") }}</div>
    </div>
  </div>
  
</div>