<div id="path-statistics-themes">
    {% if theme_config[0] == "Enabled" %}
    <table>
        <thead>
            <tr>
                <td><b>{{ theme_config[1] | default(value="Theme") }}</b></td>
                <td><b>{{ theme_config[2] | default(value="Count") }}</b></td>
            </tr>
        </thead>

        {% for theme_row in statistics_theme_count %}
                <tr>
                    <td>{{ theme_row.ThemeDescription }}</td>
                    <td>{{ theme_row.ThemeCount }}</td>
                </tr>
        {% endfor %}
    </table>

    {% else %}

    Themes not activated.
    
    {% endif %}
</div>