<div class="path-toolbox">
  <div class="breadcrumb widescreen">
    <!--<img class="icon-color" src="images/frog.svg" />-->
    <div>{{ translation.toolbox.title | default(value="Toolbox") }}</div>
    <img src="images/arrow-right.svg" />

    <a href="?path=toolbox:report" class="breadcrumb-link {% if query_params.path == 'toolbox:report' %}active{% endif %}">{{ translation.toolbox.report | default(value="Report") }}</a>
    <a href="?path=toolbox:input" class="breadcrumb-link {% if query_params.path == 'toolbox:input' %}active{% endif %}">{{ translation.toolbox.input | default(value="Input tool") }}</a>
    {% if settings.Base.Immich == "Enabled" %}
      <a href="?path=toolbox:cover" class="breadcrumb-link {% if query_params.path == 'toolbox:cover' %}active{% endif %}">{{ translation.toolbox.cover | default(value="Cover Photo Sync") }}</a>
    {% endif %}
  </div>

  <a href="coordinate-tool.html">Coordinate tool</a>

  <h1>Generate trip creation code</h1>

  <div style="border: 3pt solid gold;">
    <div>
      <select id="selectTripDomain" onchange="updateMaxII(this.value)">
        <option value="X">Choose trip domain</option>
      </select>
      <label for="currentMaxII">Curr Max(InnerId)</label><br />
      <input type="text" id="currentMaxII" placeholder="" disabled>
    </div>

    <div>
      <select id="selectOuterIdPrefixes" onchange="updateMaxOI(this.value)">
        <option value="X">Choose numbering format</option>
      </select>
      <label for="currentMaxOI">Curr Max(OuterId)</label><br />
      <input type="text" id="currentMaxOI" disabled>
    </div>

    <!--
    <div>
      <label for="formCN">
        <span onclick="navigator.clipboard.writeText(document.getElementById('formCN').value)" style="cursor:pointer;color:blue;">
          Get current
        </span>
        (remember to add one afterwards)
      </label><br />
      <textarea id="formCN" disabled>
  -- Get current highest InnerId for U
  SELECT InnerId
  FROM bewa_Overview
  WHERE InnerId LIKE 'U%'
  ORDER BY SUBSTR(InnerId, 2) + 0
  DESC LIMIT 1;
  -- Get current highest OuterId for P
  SELECT OuterId
  FROM bewa_Overview
  WHERE OuterId LIKE 'P-%'
    AND OuterId NOT LIKE 'P-%-%'  -- optional: avoid 'P-SE-' and similar
  ORDER BY CAST(SUBSTR(OuterId, LENGTH('P-') + 1) AS INTEGER) DESC
  LIMIT 1;</textarea>
    </div>
    -->
  </div>

  <div style="background-color:rgb(29,101,94,0.2);">
    <div><br />
      <button onclick="copyPlusOne()" style="background-color:#1d655e;color:#fff;">
        Copy numbers from above +1 &#8608;
      </button>
    </div>

    <div>
      <label for="formII">New InnerId</label><br />
      <input type="text" id="formII" placeholder="X1" oninput="updateSQL()">
    </div>

    <div>
      <label for="formOI">New OuterId</label><br />
      <input type="text" id="formOI" placeholder="A-1" oninput="updateSQL()">
    </div>
  </div>

  <div>
    <div>
      <label for="formOD">OverallDestination</label><br />
      <input type="text" id="formOD" placeholder="String" oninput="updateSQL()">
    </div>

    <div>
      <label for="formTD">TripDescription</label><br />
      <input type="text" id="formTD" placeholder="String" oninput="updateSQL()">
    </div>

    <div>
      <label for="selectParticipantGroup">ParticipantGroup</label><br />
      <select id="selectParticipantGroup" onchange="updateSQL()">
        <option value="X">Choose participant group</option>
      </select>
      <!-- <input type="text" id="formPG" placeholder="Word" oninput="updateSQL()"> -->
    </div>

    <div>
      <label for="formTP"><b>Events [All Rows]:</b> TravelParticipants</label><br />
      <input type="text" id="formTP" placeholder="Name A, Name B" oninput="updateSQL()">
    </div>
  </div>

  <div>
    <div>
      <label for="formDD">DepartureDate</label><br />
      <input type="date" id="formDD" placeholder="YYYY-MM-DD" oninput="updateSQL()">
    </div>

    <div>
      <label for="formRD">ReturnDate</label><br />
      <input type="date" id="formRD" placeholder="YYYY-MM-DD" oninput="updateSQL()">
    </div>

    <div>
      <label for="formMP">MapPins</label><br />
      <input type="text" id="formMP" placeholder="Add after creation" disabled>
    </div>

    <div>
      <label for="formPS">PhotoStarttime</label><br />
      <input type="text" id="formPS" placeholder="Add after creation" disabled>
    </div>

    <div>
      <label for="formPE">PhotoEndtime</label><br />
      <input type="text" id="formPE" placeholder="Add after creation" disabled>
    </div>
  </div>

  <div>
    <button onclick="navigator.clipboard.writeText(document.getElementById('sqlOutput').value)">
      Copy SQLite code
    </button>
  </div>

  <div>
    <textarea id="sqlOutput" style="width:100%;height:100pt;" disabled></textarea>
  </div>

  <div>
    <img src="img/frog.svg" style="height:30pt;" />
  </div>
</div>
