<div class="path-toolbox">
  <div class="breadcrumb">
    <!--<img class="icon-color" src="images/frog.svg" />-->
    <div>{{ translation.toolbox.title | default(value="Toolbox") }}</div>
    <img src="images/arrow-right.svg" />

    <a href="?path=toolbox:report" class="breadcrumb-link {% if query_params.path == 'toolbox:report' %}active{% endif %}">{{ translation.toolbox.report | default(value="Report") }}</a>
    <a href="?path=toolbox:input" class="breadcrumb-link {% if query_params.path == 'toolbox:input' %}active{% endif %}">{{ translation.toolbox.input | default(value="Input tool") }}</a>
    {% if settings.Base.Immich == "Enabled" %}
      <a href="?path=toolbox:cover" class="breadcrumb-link {% if query_params.path == 'toolbox:cover' %}active{% endif %}">{{ translation.toolbox.cover | default(value="Cover Photo Sync") }}</a>
    {% endif %}
  </div>

  <a href="coordinate-tool.html" target="_blank"><button class="filter-button"><img src="images/photos.svg" />Coordinate Tool</button></a>
  <a href="coordinate-tool.html" target="_blank"><button class="filter-button"><img src="images/photos.svg" />Generate SQL-code</button></a>
  <a href="coordinate-tool.html" target="_blank"><button class="filter-button"><img src="images/photos.svg" />Reset</button></a>
  <a href="coordinate-tool.html" target="_blank"><button class="filter-button"><img src="images/photos.svg" />Download file from OPFS</button></a>
  <a href="coordinate-tool.html" target="_blank"><button class="filter-button"><img src="images/photos.svg" />Save changes to OPFS</button></a>

    <label>InnerId: <input type="text" name="InnerId"></label><br>
    <label>OuterId: <input type="text" name="OuterId"></label><br>
    <label>OverallDestination: <input type="text" name="OverallDestination"></label><br>
    <label>MapPins: <input type="text" name="MapPins"></label><br>
    <label>StartNode: <input type="text" name="StartNode"></label><br>
    <label>EndNode: <input type="text" name="EndNode"></label><br>
    <label>PhotoStarttime: <input type="time" name="PhotoStarttime"></label><br>
    <label>PhotoEndtime: <input type="time" name="PhotoEndtime"></label><br>
    <label>PhotoAlbums: <input type="text" name="PhotoAlbums"></label><br>

  <details open class="trip" data-trip-omain="" style="user-select:none;">
  <summary data-trip-domain="" style="border-radius:3pt;">
                <select>
            {% for item in common.common_trip_domains %}
              <option value="{{ item.DomainAbbreviation }}">{{ item.DomainDescription }}</option>
            {% endfor %}
            </select>
            <input type="text" name="TripDescription">
  </summary>

  <div class="trip-layout">

    <!-- Left Column -->
    <div style="display:flex;flex-direction:column; gap: 2pt;">

      <div style="display:flex;gap:2pt;flex-direction:row;">
        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.departureDate | default(value="Departure Date") }}
          </label>
          <div class="trip-details-field" data-trip-domain=""><input type="date" name="DepartureDate"></div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.returnDate | default(value="Return Date") }}
          </label>
          <div class="trip-details-field" data-trip-domain=""><input type="date" name="ReturnDate"></div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.numberOfDays | default(value="Number of Days") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">0</div>
        </div>
      </div>

      <div style="display:flex;gap:2pt;flex-direction:row;">
        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.participantGroup | default(value="Participant Group") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">
            <!--<input type="text" name="ParticipantGroup">-->
            <select>
            {% for item in common.common_participant_groups %}
              <option>{{ item.ParticipantGroup }}</option>
            {% endfor %}
            </select>
          </div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.outerId | default(value="ID") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">Auto???</div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.numberOfCountries | default(value="Number of Countries") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">TBC</div>
        </div>
      </div>

      <div style="display:flex;flex-direction:column; gap:2pt;">
        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.uniqueCountries | default(value="Unique Countries") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">TBC</div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.overallRoute | default(value="Overall Route") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">TBC</div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.countryTripMovements | default(value="Country Trip Movements") }}
          </label>
          <div class="trip-details-field" data-trip-domain="">TBC</div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.test | default(value="CoverPhoto") }}
          </label>
          <div class="trip-details-field" data-trip-domain=""><input type="text" name="CoverPhoto"></div>
        </div>

        <div class="trip-details-container">
          <label class="trip-details-label">
            {{ translation.trip.test | default(value="DocumentationNote") }}
          </label>
          <div class="trip-details-field" data-trip-domain=""><input type="text" name="DocumentationNote"></div>
        </div>




      </div>

    </div>

    <div>

    Höger

      {#
        <div id="map-pin-data" data-trip-map-overall='{{ trip_map_pins_overall | json_encode }}' data-trip-map-accommodation='{{ trip_map_pins_accommodation | json_encode }}' data-theme-color="{{ theme_color }}"></div>
        <div id="map" style="width:100%;height:100%;border-radius:3pt;"></div>
      #}

    </div>



  </div>
</details>
