<div class="breadcrumb widescreen">
  <!--<img class="icon-color" src="images/frog.svg" />-->
  <div>{{ translation.toolbox.title | default(value="Toolbox") }}</div>
  <img src="images/arrow-right.svg" />

  <a href="?path=toolbox:report" class="breadcrumb-link {% if query_params.path == 'toolbox:report' %}active{% endif %}">{{ translation.toolbox.report | default(value="Report") }}</a>
  <a href="?path=toolbox:input" class="breadcrumb-link {% if query_params.path == 'toolbox:input' %}active{% endif %}">{{ translation.toolbox.input | default(value="Input tool") }}</a>
  {% if settings.Base.Immich == "Enabled" %}
    <a href="?path=toolbox:cover" class="breadcrumb-link {% if query_params.path == 'toolbox:cover' %}active{% endif %}">{{ translation.toolbox.cover | default(value="Cover Photo Sync") }}</a>
  {% endif %}
</div>


<script id="coverPhotoOriginalPaths" type="application/json">{{ cover_photo_original_paths | json_encode | safe }}</script>


<div class="red_text{# if db_loaded == "stored" %}green-text{% else %}red-text{% endif #}" id="opfsStatus" style="display:inline-block;">
{# if db_loaded == "stored" %}
  {{ translation.source.stored | default(value='Database file stored in OPFS.') }}
{% else %}
  {{ translation.source.missing | default(value='Database file missing in OPFS.') }}
{% endif #}
</div>


<div>You need to be logged in to you Immich instance (<a class="single-link" target="_blank" href="{{ settings.Feature.ImmichUrl }}">{{ settings.Feature.ImmichUrl }}</a>) for the synchronization to work.</div>
<br>
<button class="filter-button" onclick="sync_album_covers('{{ settings.Feature.ImmichUrl }}', '{{ settings.Feature.ImmichCoverAlbumId }}');">Synchronize Immich Album</button>
<button class="filter-button" onclick="save_album_covers_ids2OPFS('{{ settings.Feature.ImmichUrl }}', '{{ settings.Feature.ImmichCoverAlbumId }}');">Save Cover Photo List to OPFS</button>
